DATABASE_URL=postgres://notes:notes@localhost:5433/notes
BETTER_AUTH_URL=http://localhost:3000
ELECTRIC_URL=http://localhost:3001
FRONTEND_URL=https://localhost:5173
FRONTEND_PREVIEW_URL=https://localhost:4173
